* {
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main, header {
	margin: 5vh 10vw;
}

header {
	display: flex;
	justify-content: space-between;
}
a {
	text-decoration: none;
}

#products-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.product {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1rem;

	border-radius: 1rem;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space;
}

.product-photo {
	max-width: 100px;
	box-shadow: 0 0 5px #000;
	border-radius: 0.5rem;
	margin: 0.5rem 0;
	background-color: #ffffff;
}

.product a {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 5px 0;
}

button {
	cursor: pointer;
	font-size: 1.4rem;
	border-radius: 10px;
	border: none;
	min-width: 50%;
    
}

#cart_button {
	background: none;
	border: none;
	border-radius: 50%;
	padding: 5px;
	border: 1px solid #000000;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s;
    height: 35px;
    width: 35px;
}
#cart {
	position: relative;
    
	
}

#cart_button {
	background-color: red;
   

}

#cart-button:hover {
	background-color: rgb(170, 170, 255);
}

@media screen and (max-width: 1000px) {
	#products-grid {
		grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 600px) {
	#products-grid {
		grid-template-columns: repeat(1, 1fr);
}
}
#cart-products::before{
	content: '';
	border: transparent solid 16px;
	border-bottom: solid #000 16px ;
	position: relative;
	top: -2.7rem;
	left: 15.8rem;
	z-index: -1;

}
#cart-button {
    background: none;
    border: none;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

#cart {
    position: relative;
}

#cart-button img {
    max-width: 32px;
    max-height: 32px;
}

#cart-button:hover {
    background-color: rgb(170, 170, 255);
}

#cart-button.active {
    background-color: rgb(170, 255, 170);
}

#cart-products::before {
    content: '';
    border: transparent solid 16px;
    border-bottom: solid #000 16px;
    position: relative;
    top: -2.7rem;
    left: 15.8rem;
    z-index: -1;
}

#cart-products {
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #fff;
    top: 59px;
    right: 0rem;
    left: -16rem;
    position: absolute;
    padding: 10px;
    text-align: left;
}
#cart_button img{
	height: 35px;
	width: 35px;
}
.hide{
	display: none;
}